<div class="text-center">
    <h2 class="display-6">Problématiques traitées</h2>
    <div class="col-lg-6 mx-auto">
        <ul class="lead mb-4">
            <li>Anxiété, crises de panique</li>
            <li>Phobie</li>
            <li>Croissance personnelle</li>
            <li>Dépression</li>
            <li>Épuisement professionnel</li>
            <li>Estime de soi</li>
            <li>Gestion du stress</li>
            <li>Problèmes relationnels</li>
            <li>Relations amoureuses</li>
            <li>Séparation/divorce</li>
            <li>Troubles du sommeil</li>
            <li>Trouble d’adaptation</li>
            <li>Trouble de stress post-traumatique</li>
            <li>Traumatismes relationnels</li>
            <li>Troubles alimentaires</li>
            <li>Troubles de la personnalité</li>
        </ul>
    </div>
</div>