<div class="container-fluid">
    <div class="row">
        <div class="col" [ngClass]="'background-color'+bgColorStyle1">
            <app-contenu-basique title="{{titre1}}" text="{{texte1}}"></app-contenu-basique>
        </div>
        <div class="col" [ngClass]="'background-color'+bgColorStyle2">
            <ng-template [ngIf]="{image} !== null">
                <img class="custom-size" src="{{image}}" />
            </ng-template>
            <ng-template [ngIf]="{image} === null">
                <app-contenu-basique title="{{titre2}}" text="{{texte2}}"></app-contenu-basique>
            </ng-template>
        </div>
    </div>
</div>