@import "../../../styles";

.background-color0 {
    background-color: $gray-100;
}

.background-color1 {
    background-color: $orange-100;
}

.background-color2 {
    background-color: $orange-600;
    color: $white;
    h2 {
        color: $white;
    }
}