<div class="container-fluid background-color2">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12 px-4 py-5 text-center">
                <h2 class="display-5 fw-bold">{{'accueil.a_propos_de_moi.titre_01' | translate}}</h2>
                <span class="lead mb-4" [innerHTML]="'accueil.a_propos_de_moi.texte_01' | translate"></span>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 frame">
                <div class="image">
                    <img src="./profilepic2.jpeg" />
                </div>
            </div>
        </div>
    </div>
</div>