@import "../../styles";

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 2rem;
  color: black;
  display: none;
  /* Initially hidden */

  &:hover {
    color: $primary;
  }
}