<app-entete-page-principal></app-entete-page-principal>
<app-contenu-basique text="{{'accueil.message_de_bienvenue.paragraphe_01' | translate}}"></app-contenu-basique>
<app-contenu-basique text="{{'accueil.message_de_bienvenue.paragraphe_02' | translate}}" [applyBgColor]="true"></app-contenu-basique>
<app-contenu-basique text="{{'accueil.message_de_bienvenue.paragraphe_03' | translate}}"></app-contenu-basique>
<app-problematiques-traitees></app-problematiques-traitees>
<app-contenu-split-50-50></app-contenu-split-50-50>
<app-contenu-basique title="FINAL" text="{{'lorem' | translate}}"></app-contenu-basique>