<app-entete-page-principal></app-entete-page-principal>
<app-contenu-basique text="{{'accueil.message_de_bienvenue.paragraphe_01' | translate}}"></app-contenu-basique>
<app-carte-service 
    imagesrc="./carte-service/psychotherapie-icone.png"
    title="{{'accueil.carte-service.psychotherapie.titre' | translate}}"
    paragraph="{{'accueil.carte-service.psychotherapie.paragraphe' | translate}}"
    buttonText="{{'accueil.carte-service.psychotherapie.bouton' | translate}}">
</app-carte-service>
<app-carte-service 
    imagesrc="./carte-service/evaluation-icone.png"
    title="{{'accueil.carte-service.evaluation-psychologique.titre' | translate}}"
    paragraph="{{'accueil.carte-service.evaluation-psychologique.paragraphe' | translate}}"
    buttonText="{{'accueil.carte-service.evaluation-psychologique.bouton' | translate}}">
</app-carte-service>
<app-biographie></app-biographie>
<app-problematiques-traitees></app-problematiques-traitees>
<app-contenu-basique title="FINAL" text="{{'lorem' | translate}}"></app-contenu-basique>