<div class="container padding-bottom">
    <div class="carte-service">
        <div class="row">
            <div class="col-xl-3 col-lg-4">
                <div class="image">
                    <img src="{{imagesrc}}" />
                </div>
            </div>
            <div class="col-xl-9 col-lg-8 px-5 py-5">
                <h3>{{title}}</h3>
                <span class="mb-4" [innerHTML]="paragraph"></span>
                <button type="button" class="btn btn-primary">{{buttonText}}</button>
            </div>
        </div>
    </div>
</div>