@import "../../styles";

.navbar {
    background-color: $light !important;
}

nav .brain{
    height: 3rem;
    width: 3rem;
}

@media (min-width: 992px) { 
    nav .brain{
        position: absolute;
    }
}

nav .centered{
    justify-content: center;
}

nav li a.active {
    font-weight: 500;
}