/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Euphoria+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Euphoria+Script&family=Lexend:wght@100..900&display=swap');

// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

$primary: #785f7d;
$secondary: #ada0b1;
$ternary: #ebdbcf;
$light: #aebfaa;
$dark: #5f705b;

// merge with existing $theme-colors map
$theme-colors: map-merge($theme-colors, (
  "primary": $primary,
  "secondary": $secondary,
  "light": $light,
  "dark": $dark
));

.background-color0 {
  background-color: $ternary;
}

.background-color1 {
  background-color: $light;
}

.background-color2 {
  background-color: $dark;
  color: $white;
  h2 {
      color: $white;
  }
}

$border-radius: 0px;
$navbar-light-active-color: $primary;

// set changes
@import "../node_modules/bootstrap/scss/bootstrap";