<footer class="bg-light py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>Contact Information</h5>
          <ul class="list-unstyled">
            <li><i class="bi bi-telephone"></i> +1 234 567 890</li>
            <li><i class="bi bi-envelope"></i> email&#64;example.com</li>
            <li><i class="bi bi-geo-alt"></i> 123 Main Street, City, Country</li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Office Hours</h5>
          <ul class="list-unstyled">
            <li>Mon - Fri: 9:00 AM - 5:00 PM</li>
            <li>Sat: 10:00 AM - 2:00 PM</li>
            <li>Sun: Closed</li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Follow Us</h5>
          <ul class="list-unstyled">
            <li><a href="#"><i class="bi bi-facebook"></i> Facebook</a></li>
            <li><a href="#"><i class="bi bi-twitter"></i> Twitter</a></li>
            <li><a href="#"><i class="bi bi-instagram"></i> Instagram</a></li>
          </ul>
        </div>
      </div>
      <div class="text-center mt-3">
        <p>&copy; 2023 Your Psychologist. All rights reserved.</p>
      </div>
    </div>
  </footer>