<footer class="bg-light py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>Contactez-moi</h5>
          <ul class="list-unstyled">
            <li><i class="bi bi-telephone"></i> +1 581-235-4671</li>
            <li><i class="bi bi-geo-alt"></i> 123 Main Street, City, Country</li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Heures de bureau</h5>
          <ul class="list-unstyled">
            <li>Lundi: 8:30 à 14:00</li>
            <li>Mardi: 8:30 à 14:00</li>
            <li>Mercredi: 8:30 à 14:00</li>
            <li>Jeudi: 8:30 à 14:00</li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Follow Us</h5>
          <ul class="list-unstyled">
            <li><a href="#"><i class="bi bi-facebook"></i> Facebook</a></li>
            <li><a href="#"><i class="bi bi-twitter"></i> Twitter</a></li>
            <li><a href="#"><i class="bi bi-instagram"></i> Instagram</a></li>
          </ul>
        </div>
      </div>
      <div class="text-center mt-3">
        <p>&copy; 2023 Your Psychologist. All rights reserved.</p>
      </div>
    </div>
  </footer>